ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  border: 2px solid blue;
  display: inline-block;
  
  margin: 0.5rem;
}

a {
  text-decoration: none;
  background-color: #ffd9b3;
  color: #600;
  padding: 0.5rem;
  display: block;
}
a:hover {
  background-color: #600;
  color: #ff3333;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
}